body {
  background-color: #020122;
  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
}

#bee-runner {
  /* border: 2px solid white; */
  /* width: 288px; */
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
